{
  "extends": [
    "stylelint-config-css-modules",
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-styled-components",
    "stylelint-config-tailwindcss",
    "stylelint-config-twbs-bootstrap",
    "stylelint-prettier/recommended"
  ],
  "plugins":[
    "@stylistic/stylelint-plugin",
    "stylelint-declaration-strict-value",
    "stylelint-no-px",
    "stylelint-selector-bem-pattern",
    "stylelint-suitcss",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    }
  }
}
